body,
button,
input {
  background-color: #031e11;
  /* font-size: 1.5em; */
  padding: 0em 0.25em;
  border: none;
}

body,
button,
input {
  background: linear-gradient(to bottom, #333, #333 50%, #3a3a3a 50%, #3a3a3a);
  background-size: 100% 4px;
}

pre,
a,
button {
  color: #14fdce;
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
}

pre,
a,
button {
  text-shadow: 0 0 3px #88ff00;
  text-shadow: 0 0 10px #88ff00;
}

pre::after {
  content: "_";
  font-weight: bold;
  animation: blinking 0.75s step-end infinite;
}

div {
  margin-top: 100px;
}

@keyframes blinking {
  from,
  to {
    visibility: hidden;
  }

  50% {
    visibility: visible;
  }
}
